{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block title %}
Enter new password
{% endblock title %}

{% block content %}
<h1>Set a new password!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form|crispy }}
  <input class='btn btn-success' type='submit' value='Change my password'>
</form>
{% endblock content %}